.tile-grid {
  overflow: hidden;
  display: grid;
  position: fixed;
  top: 50px;
  left: 27.25%;
  width: 46%;
  margin: 20px;
  margin-left: 15px;
  width: 45%;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  z-index: 6; }

.mix-tile {
  aspect-ratio: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

@keyframes blink {
  50% {
    border-color: white; } }
.blink {
  border-width: 3px;
  animation: blink 1s step-end infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 20px; }

.image-cont {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url("assets/pictures/chrome.jpg");
  background-blend-mode: multiply;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 59.15%; }

.level-text {
  position: fixed;
  top: 10px;
  right: 50px;
  font-size: 17vw;
  font-family: Helvetica, sans-serif;
  color: white; }

.wrong {
  display: flex;
  align-items: center;
  justify-content: center; }
  .wrong .wrong-x {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 20px; }

.star {
  width: 80%;
  font-size: 2vw;
  text-align: center;
  text-justify: center;
  overflow: hidden; }

.swatches {
  position: fixed;
  height: auto;
  top: 55%;
  right: 23%; }
  .swatches .swatch {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%; }
  .swatches #target-color {
    width: 100px;
    height: 100px;
    border: 2px dotted black;
    top: 0;
    left: 15px; }
  .swatches #hover-color {
    top: 50px;
    background-color: black; }
  .swatches #current-color {
    top: 75px;
    left: 35px;
    border: 1px solid white; }

.logos {
  position: fixed;
  top: 10px;
  left: 20px;
  color: white;
  font-family: Odibee Sans;
  font-size: 12vw;
  margin: 0; }

#logo-2 {
  color: black;
  top: 9px;
  left: 21px;
  font-size: 12vw;
  z-index: 0; }

body {
  position: relative;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin: auto;
  height: auto; }

.nav-cont {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%; }
  .nav-cont .information {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 300px; }
  .nav-cont .lives-cont {
    display: flex;
    position: fixed;
    top: 25vw;
    left: 50px; }
    .nav-cont .lives-cont h4 {
      vertical-align: bottom;
      font-family: Odibee Sans;
      font-size: 25px;
      color: white; }
    .nav-cont .lives-cont .lives {
      font-family: Helvetica, sans-serif;
      font-size: 40px;
      color: white; }
  .nav-cont .button {
    width: 75%;
    aspect-ratio: 1;
    background-color: white;
    border: 5px inset black;
    font-family: Odibee Sans;
    margin: 3px;
    padding: 2px;
    display: none; }
  .nav-cont .bottom {
    position: relative;
    display: inline-block; }
    .nav-cont .bottom .help {
      display: none;
      position: absolute;
      top: 45px;
      bottom: -155px;
      left: 45px;
      right: 0;
      background-color: white;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1; }
      .nav-cont .bottom .help h4 {
        font-family: Odibee Sans;
        font-size: 18px;
        margin: 5px; }
    .nav-cont .bottom p {
      font-family: Odibee Sans;
      color: black;
      font-size: 24px;
      margin-left: 60px;
      margin-top: 10px; }
    .nav-cont .bottom:hover .help {
      display: block; }

.no-show {
  display: none; }

.button {
  display: none; }

.arrow-icons {
  width: 0;
  height: 0;
  position: relative;
  margin: 5px;
  z-index: 3; }

#up {
  position: absolute;
  bottom: 1px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid black; }

#down {
  position: absolute;
  top: 1px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid black; }

#right {
  position: absolute;
  left: 1px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid black; }

#left {
  position: absolute;
  right: 1px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid black; }

.results-cont {
  display: none; }

/*# sourceMappingURL=styles.css.map */
