div {
  cursor: default; }

.tile-grid {
  overflow: hidden;
  display: grid;
  position: fixed;
  top: 50px;
  left: 26%;
  width: 45%;
  z-index: -1;
  margin: 20px;
  margin-left: 15px;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }

.mix-tile {
  aspect-ratio: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

@keyframes blink {
  50% {
    border-color: white; } }
.blink {
  border-width: 3px;
  animation: blink 1s step-end infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 20px; }

.image-cont {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("assets/pictures/background.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 59.15%; }

.level-text {
  position: fixed;
  top: -0.5vw;
  right: 3vw;
  font-size: 14vw;
  font-family: Helvetica, sans-serif;
  color: white; }

.wrong {
  display: flex;
  align-items: center;
  justify-content: center; }
  .wrong .wrong-x {
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 20px; }

.star {
  width: 80%;
  font-size: 2vw;
  text-align: center;
  text-justify: center;
  overflow: hidden; }

.swatches {
  position: fixed;
  top: 38vw;
  right: 8vw;
  width: 100px;
  height: 100px; }
  .swatches .help-arrows {
    position: absolute;
    width: 100px;
    height: 95px;
    background-image: url("assets/pictures/pointers.png");
    background-size: cover;
    background-repeat: no-repeat;
    top: 60px;
    left: -30px; }
  .swatches .swatch {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: visible; }
    .swatches .swatch h5 {
      position: absolute;
      color: rgba(0, 0, 0, 0.7);
      font-size: 13px;
      font-family: Helvetica, sans-serif; }
  .swatches #target-color {
    width: 100px;
    height: 100px;
    border: 4px double black;
    top: 0;
    left: 15px; }
    .swatches #target-color h5 {
      right: -40px;
      top: -20px; }
  .swatches #hover-color {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50px;
    background-color: black;
    z-index: 5; }
    .swatches #hover-color h5 {
      left: -45px;
      bottom: -20px; }
  .swatches #current-color {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 75px;
    left: 25px;
    width: 65px;
    height: 65px; }
    .swatches #current-color h5 {
      right: -45px;
      bottom: -20px; }

.dot-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 100%; }
  .dot-outline .dot {
    width: 16px;
    height: 16px;
    background-color: black;
    color: white;
    border-radius: 100%;
    font-size: 13px;
    text-align: center;
    justify-self: center; }
  .dot-outline .dot-2 {
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 100%; }

.logos {
  position: fixed;
  top: 9px;
  left: 20px;
  color: white;
  font-family: Odibee Sans;
  font-size: 12vw;
  margin: 0;
  z-index: 20; }

#logo-2 {
  color: black;
  top: 9px;
  left: 21px;
  z-index: 21; }

#logo-3 {
  left: 22px; }

#logo-4 {
  left: 21px;
  top: 8px; }

#logo-5 {
  left: 21px;
  top: 10px; }

body {
  position: relative;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin: auto;
  height: auto; }

.display {
  position: absolute;
  display: none;
  justify-content: space-between;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }
  .display ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0; }

.display-about {
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.small-gif {
  margin: auto; }

.large-gif {
  margin-bottom: 8vw;
  margin-right: 1vw; }

.help-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  .help-page .message-div {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 20px; }
    .help-page .message-div .step-message {
      color: rgba(255, 255, 255, 0.6);
      font-size: 12px;
      text-align: center;
      margin: 5px;
      font-family: Helvetica, sans-serif;
      font-weight: lighter; }

.buttons-cont {
  position: absolute;
  right: 20px;
  top: 5px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 90%; }

.nav-cont {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%; }
  .nav-cont .modal-select {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 2vw;
    left: 21px;
    z-index: 12; }
    .nav-cont .modal-select .button-cont {
      top: 32vw;
      left: 50px; }
    .nav-cont .modal-select .level-button {
      margin: 5px;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid black;
      color: black;
      width: 9vw;
      height: auto;
      font-size: 15px;
      cursor: pointer; }
    .nav-cont .modal-select .level-button:hover {
      border: 1px solid white;
      color: white; }
    .nav-cont .modal-select h4 {
      font-size: 100px;
      margin: 0; }

.modal-btn {
  font-family: Odibee Sans;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  width: 6vw;
  height: 6vw;
  color: #a7a7a7;
  margin: 2.5px;
  font-size: 1.75vw;
  cursor: pointer; }

.modal-btn:hover {
  color: white;
  border-style: inset; }

.help-page {
  display: none;
  width: 95%; }

.lives-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: auto;
  height: auto;
  top: 26vw;
  left: 2vw; }
  .lives-cont h4 {
    vertical-align: bottom;
    font-family: Odibee Sans;
    font-size: 10vw;
    color: rgba(0, 0, 0, 0.5);
    margin: 0; }
  .lives-cont .lives {
    position: absolute;
    top: 4vw;
    left: 4.2vw;
    margin: 0;
    margin-top: 2vw;
    font-family: Helvetica, sans-serif;
    font-size: 3vw;
    text-align: center;
    justify-content: center;
    font-weight: light;
    color: white;
    z-index: 1; }
  .lives-cont .button {
    width: 75%;
    aspect-ratio: 1;
    background-color: white;
    border: 5px inset black;
    font-family: Odibee Sans;
    margin: 3px;
    padding: 2px;
    display: none; }
  .lives-cont .bottom {
    position: relative;
    display: inline-block; }
    .lives-cont .bottom .help {
      display: none;
      position: absolute;
      top: 45px;
      bottom: -155px;
      left: 45px;
      right: 0;
      background-color: white;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1; }
      .lives-cont .bottom .help h4 {
        font-family: Odibee Sans;
        font-size: 18px;
        margin: 5px; }
    .lives-cont .bottom:hover .help {
      display: block; }

.lives-amount {
  position: absolute;
  margin: 0;
  color: white;
  font-size: 15px;
  z-index: 2;
  top: 4vw;
  left: 6.2vw; }

.no-show {
  display: none; }

.button {
  display: none; }

.arrow-icons {
  width: 0;
  height: 0;
  position: relative;
  margin: 5px;
  z-index: 3; }

#up {
  position: absolute;
  bottom: 1px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid black; }

#down {
  position: absolute;
  top: 1px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid black; }

#right {
  position: absolute;
  left: 1px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid black; }

#left {
  position: absolute;
  right: 1px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid black; }

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 8; }
  .modal .display-cont {
    position: fixed;
    left: 22%;
    width: 55vw;
    height: 55vw;
    min-width: 425px;
    min-height: 425px;
    background-color: black;
    margin: 24px;
    margin-left: 19px;
    border: 4px double white; }
  .modal .close-button {
    font-family: Helvetica, sans-serif;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 15px;
    left: 15px;
    color: white;
    z-index: 10;
    cursor: pointer; }
  .modal .start-message {
    color: rgba(255, 255, 255, 0.4);
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 10;
    margin: 0; }

.result-star {
  cursor: pointer; }

.results-cont {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 23px 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 7; }
  .results-cont .star {
    display: flex; }
  .results-cont .level-display {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: right;
    position: relative;
    height: 20px;
    margin: 5px; }
    .results-cont .level-display .level-num {
      color: white;
      font-family: Helvetica, sans-serif;
      margin: 0;
      width: 25px;
      height: 25px;
      text-align: center;
      padding-top: 8px;
      margin-right: 5px; }
    .results-cont .level-display .dot-outline {
      display: none; }
    .results-cont .level-display .mix-tile {
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2px; }

.success {
  position: fixed;
  top: 27vw;
  right: 10vw;
  font-family: Odibee Sans;
  font-size: 5vw;
  text-align: left;
  z-index: 0; }

.nope {
  right: 15vw; }

.button-cont {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 32vw;
  right: 10vw;
  width: 90px;
  height: 24px;
  border: 1px solid black;
  z-index: 5; }

.level-button {
  font-family: Helvetica, sans-serif;
  width: 86px;
  height: 20px;
  background-color: black;
  color: white;
  border: none; }

.nav-button {
  color: #ffffff;
  height: 20px;
  background-color: black;
  z-index: 11; }

.btn-text {
  font-family: Helvetica, sans-serif;
  text-align: right;
  font-weight: lighter;
  font-size: 15px;
  margin: 0;
  margin-top: 5px;
  margin-right: 3px;
  color: rgba(255, 255, 255, 0.3); }

.btn-text:hover {
  color: white;
  cursor: pointer; }

.gif {
  width: 100%; }

h6 {
  margin: 0; }

.clicked {
  color: white;
  z-index: 11; }
  .clicked .btn-text {
    margin-top: 0;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7); }
  .clicked .btn-text:hover {
    cursor: default; }

#color-btn {
  top: 45%; }

#path-btn {
  top: 50%;
  right: 50%; }

#swatch-btn {
  top: 50%;
  left: 50%; }

.nav-button-clicked {
  display: flex; }

.about-title {
  color: white;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  margin: 0; }

#link-message {
  color: grey;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 50px; }

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px 0 40px; }
  .icons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none; }
  .icons a:hover i {
    color: white; }
  .icons a:hover p {
    color: white; }
  .icons i {
    color: grey; }
  .icons p {
    font-size: 12px;
    margin: 10px;
    color: grey;
    font-family: Helvetica, sans-serif; }

/*# sourceMappingURL=styles.css.map */
